#!/usr/bin/env bash

set -euo pipefail

watch_file nix/shell.nix
watch_file nix/overlays/**/*.nix

use flake

# FIXME: Nix sets these variables to prevent the use of any certs.
unset SSL_CERT_FILE
unset NIX_SSL_CERT_FILE

export GOOGLE_PROJECT=epsilonsquare-production
export GOOGLE_CREDENTIALS="~/.config/gcloud/${GOOGLE_PROJECT}.json"

export TF_VAR_org_id=643762292337
export TF_VAR_billing_account=01B50A-75FAFE-A86EC7
export TF_VAR_project_name="${GOOGLE_PROJECT}"
export TF_VAR_nixos_user="${TF_VAR_nixos_user:-$USER}"

# The path to temorary directories are too long for OpenSSH (and thus OpenTofu) in the Nix environment.
export TMPDIR=/tmp
